<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="https://www.kaspersky.es/content/es-es/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png" alt="qr">
            <!-- <ion-img [src]="https://www.kaspersky.es/content/es-es/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png">0</ion-img> -->
          </ion-col>
        </ion-row>
      </ion-grid>   
    <ion-card-content color=dark>
      <ion-button color="light" >camara</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
